:root {
  --ss-background: #ECF5FD;
  --ss-surface: #FAFDFF;
  --ss-chrome: #D8E3EC;
  --ss-foreground: #090C0E;
  --ss-muted-foreground: #4B5055;
  --ss-chrome-foreground: #090C0E;
  --ss-border: #B1BCC7;
  --ss-primary: #2957CD;
  --ss-primary-foreground: #F9FCFF;
  --ss-accent: #763AA7;
  --ss-accent-foreground: #F9FCFF;
  --ss-focus: #763AA7;
  --ss-success: #006425;
  --ss-success-foreground: #F9FCFF;
  --ss-warning: #6E4B00;
  --ss-warning-foreground: #F9FCFF;
  --ss-danger: #902824;
  --ss-danger-foreground: #F9FCFF;
  --ss-primary-50: #F5F8FF;
  --ss-primary-100: #E2EBFF;
  --ss-primary-200: #C4D8FF;
  --ss-primary-300: #9DBDFF;
  --ss-primary-400: #6D9AFF;
  --ss-primary-500: #4A7BEF;
  --ss-primary-600: #3361D5;
  --ss-primary-700: #224AB4;
  --ss-primary-800: #0F3190;
  --ss-primary-900: #02176D;
  --ss-primary-950: #000047;
  --ss-accent-50: #FAF6FF;
  --ss-accent-100: #F1E5FF;
  --ss-accent-200: #E4CBFF;
  --ss-accent-300: #D3A7FF;
  --ss-accent-400: #B683E8;
  --ss-accent-500: #9C64CF;
  --ss-accent-600: #844BB6;
  --ss-accent-700: #6C3698;
  --ss-accent-800: #511E77;
  --ss-accent-900: #370457;
  --ss-accent-950: #1C0031;
}
